# Armory Default Python Environment Requirements
# Daily driver and legacy embedded tools

cbor2
certifi
cffi
charset-normalizer
click
colorama
cryptography
docopt
future
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
httplib2
idna
imgtool
intelhex
packaging
patool
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pyelftools
pykwalify
pynrfjprog
pyparsing
python-dateutil
pyyaml
requests
ruamel-yaml
semver
six
tomli-w
tqdm
uritemplate
urllib3
west
ipython
jupyterlab
pandas
numpy
aeon
polars
xgboost
scikit-learn
pyarrow
